//шрифты
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

$ff-os: 'Open Sans', sans-serif;
//$ff-os: 'Montserrat', sans-serif;
$fw-os-light: 300;
$fw-os-regular: 400;
$fw-os-medium: 500;
$fw-os-semi-bold: 600;
$fw-os-bold: 700;
$fw-os-extra-bold: 800;

//цвета
$bg: #232323;

$green: #458116;
$red-active: #ef3124;
$red-disable: #9e0c00;

$pink: #FFCB9B;
$gray: #A5A5A5;
$lightGray: #919191;
$lightGray1: #D9D9D9;






